*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: white;
}
.top{
    width: 100%;
    background-color: rgb(226, 223, 223);
    height: 250px;
}
.navbar a{
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px;
    display: inline-flex;
    margin: 35px 50px;
    color: black;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
.content{
    margin: 15px 35px;
    max-width: 30%;
}
.content h1{
    padding: 10px 0;
    font-size: 30px;
    color: #6CB840;
}
#food{
    color: #EAAB1B;
}
.content h2{
    font-size: 25px;
}
.content p{
    font-size: 15px;
    padding: 10px 0;
    line-height: 1.4em;
}

.btn{
    padding: 10px 0;
    width: 100px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #6CB840;
    outline: none;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 12px;
}
.eat-together{
    margin: 90px 35px;
    padding-top: 50px;
    display: flex;
}
#eat-content{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#eat-content h1{
    padding-top: 100px;
    font-size: 30px;
    padding-bottom: 10px;
    color: #EAAB1B;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
#eat-content p{
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
}