*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    width: 100%;
    background-color: white;
}
.top{
    width: 100%;
    background-color: rgb(226, 223, 223);
    height: 250px;
}
.navbar a{
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px;
    display: inline-flex;
    margin: 35px 40px;
    color: black;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
.content{
    margin: 15px 35px;
    max-width: 30%;
}
.content h1{
    padding: 10px 0;
    font-size: 30px;
    color: #6CB840;
}
#food{
    color: #EAAB1B;
}
.content h2{
    font-size: 25px;
}
.content p{
    font-size: 15px;
    padding: 10px 0;
    line-height: 1.4em;
}

.btn{
    padding: 10px 0;
    width: 100px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #6CB840;
    outline: none;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 12px;
}
.eat-together{
    margin: 90px 35px;
    padding-top: 50px;
    display: flex;
}
#eat-content{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#eat-content h1{
    padding-top: 100px;
    font-size: 30px;
    padding-bottom: 10px;
    color: #EAAB1B;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
#eat-content p{
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
}

.middle{
    margin: 11px 80px;
    padding: 5px 30px;
}
.explore-menu{
    padding: 20px 0;
    background-color: #eff7ea;
} 
.explore-menu h1{
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#menu{
    color: #6CB840;
}

.food{
    display: absolute;
    padding: 20px 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.food-1, .food-2, .food-3, .food-4, .food-5, .food-6{
    width: 200px;
    height: 130px;
    background-color: white;
    border-bottom-right-radius: 30px;
}

.food-1 h3, .food-2 h3, .food-3 h3, .food-4 h3, .food-5 h3, .food-6 h3 {
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 800;
}

.food-1 img, .food-2 img, .food-3 img, .food-4 img, .food-5 img, .food-6 img{
    position: absolute;
    transform: translate(-50%, 20%);
}

.food-1 p, .food-2 p, .food-3 p, .food-4 p, .food-5 p, .food-6 p{
    font-size: 13px; 
    padding-left: 80px; 
    line-height: 1.3em;
    text-align: center;
}

.hot-deals{
    padding: 20px 0;
    background-color: #cbfbb0;
}

.hot-deals h1{
    font-size: 30px;
    text-align: center;
}

.deals-par{
    padding-left: 60%;
    padding-top: 20px;
}

.deals-par h2{
    color: #6CB840;
}
.deals-par h3{
    padding-top: 10px;
}
.deals-par p{
    padding-top: 10px;
    width: 70%;
    text-align: center;
    line-height: 1.4em;
}

#deals{
    color: #6CB840;
}

.juice img{
    padding-left: 50px;
    position: absolute;
    transform: translate(10%, -93%);
}

.burger img{
    position: absolute;
    padding-left: 80px;
    transform: translate(8%, -72%);
}
.contact-us{
    padding: 20px 0;
    background-color: #f4e8cd;
    align-items: center;
    justify-content: center;
}
.contact-us h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}
#us{
    color: #6CB840;
}

.contact-par{
    font-size: 15px;
    line-height: 1.6em;
    padding: 0 30%;
    padding-top: 20px;
    text-align: center;
}

.contact-label{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 300px;
    height: 25px;
    display: flex;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 18px 0;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}

.btn-2{
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#btn-2{
    width: 80px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #6CB840;
    color: white;
    font-weight: bold;
}

.bottom{
    margin: 30px 110px;
    padding: 50px 0;
    background-color: #C9ECB5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.date{
    margin: 0 20px;
    padding-right: 50px;
    border-right: dashed;
}
.date h6, .box h6, .follow h6{
    font-size: 14px;
}
.date p, .box p, .follow p{
    font-size: 12px;
}
.box{
    margin: 0 50px;
    padding-right: 100px;
    padding-left: 10px;
}

.follow{
    margin: 0 50px;
    padding-left: 80px;
    padding-right: 10px;
}
.social{
    margin-right: 10px;
}

.social img{
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
#send-1{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #6CB840;
    color: white;
}


